<div class="student" id="student-{{ fields.nid.content }}">
  <div class="student-photo">
  	<div class="student-name">{{ fields.title.content }}</div>
  	<div class="image-wrapper">
      <div class="image">
  	     {{ fields.field_photo.content }}
       </div>
     </div>

  </div>
  <div class="student-description">
      <h2>{{ fields.title.content }}</h2>
      {% if fields.program_type.content %}
        <div class="program">{{ fields.program_type.content }}</div>
      {% endif %}
      {% if fields.field_feature_line.content %}
        <div class="description">{{ fields.field_feature_line.content }}</div>
      {% endif %}
      <div class="view-profile">{{ fields.view_node.content }} <i class="fa fa-user"></i></div>
  </div>
</div>