{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.search: Search box.
 * - page.main_menu: Items for the primary menu region.
 * - page.page_title: Page title.
 * - page.content_header: Content to be displayed on left side of page above page content.
 * - page.content: The main content of the current page.
 * - page.right_menu: Items on right side always at the top.
 * - page.right_sidebar: Items for right side of page.
 * - page.footer_banner: Full window width region that acts as a banner.
 * - page.footer_menu: Secondary menu items for the footer.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 *
 * @ingroup themeable
 */
#}

<header role="banner">
  <div class="wrapper">
    <div class="row">
      <div class="col-lg-5 no-padding">
        <a class="logo" href="{{ front_page }}">Balsillie School of International Affairs</a>
      </div>
      <div class="col-lg-1 no-padding">
        <div class="main-nav">
          <i class="fa fa-list"></i>
        </div>
        <div class="search">
          {{ page.search }}
        </div>
      </div>
    </div>
  </div>
</header>

<div id="main-menu" role="navigation">
  <div class="wrapper">
    <div class="row">
      <div class="col-6">
        {% if page.main_menu %}
            {{ page.main_menu }}
        {% endif %}
      </div>
    </div>
  </div>
</div>

<div class="watermark">
  <main role="main" class="wrapper"> 
    <div class="row">
      <div class="col-6">
        {% if page.page_title %}
          <div id="page-title-header" {% if is_front %} class="homepage" {% endif %}>
            {{  page.page_title }}
          </div>
        {% endif %}
      </div>
    </div>
    <div class="row">
        <div class='{% if page.right_sidebar or page.right_menu %}col-lg-4{% else %}col-6{% endif %}'>
          <a id="main-content" tabindex="-1"></a>
          
          {% if page.content_header %}
            <div id="content-header">
              {{  page.content_header }}
            </div>
          {% endif %}
          <div id="content" {% if is_front %} class="homepage" {% endif %}>
            {{ page.content }}
          </div>
        </div>
      {% if page.right_sidebar or page.right_menu %}
        <div class="col-2">
          <aside class="right-menu">
            {{ page.right_menu}}
          </aside>
          <aside class="right-sidebar" role="complementary">
            {{ page.right_sidebar }}
          </aside>
        </div>
      {% endif %}
    </div>
  </main>
</div>

{% if is_front %}
  <div class="footer-banner">
    <div class="wrapper">
      <div class="row">
        <div class="col-6">
          {{ page.footer_banner }}
        </div>
      </div>
    </div>
  </div>
{% endif %}

<footer>
  <div class="wrapper">
    <div class="row">
      <div class="contact col-3">
        <ul class="sharelinks">
          <li><a href="https://twitter.com/BalsillieSIA"><i class="fa fa-twitter"></i></a></li>
          <li><a href="https://www.facebook.com/balsillieschool"><i class="fa fa-facebook-square"></i></a></li>
          <li><a href="https://www.youtube.com/user/BalsillieSchool"><i class="fa fa-youtube"></i></a></li>
        </ul>
        <div class="footer-menu">
          {{ page.footer_menu }}
        </div>
      </div>
      <div class="partners col-3">
        <ul>
          <li><a href="http://www.wlu.ca/" class="wlu-logo">Wilfred Laurier University</a></li>
          <li><a href="http://www.cigionline.org/" class="cigi-logo">CIGI</a></li>
          <li class="last"><a href="http://uwaterloo.ca/" class="uw-logo">University of Waterloo</a></li>
        </ul>
      </div>
      <div class="col-6">
        <div class="copyright">&copy; {{ "now"|date("Y") }} The Balsillie School of International Affairs</div>
      </div>
    </div>
  </div>

</footer>
