<div class="profile">
  <div class="image">
     {{ fields.field_photo.content }}
  </div>

  <div class="text">
    <h2>{{ fields.title.content }}</h2>
    {% if fields.field_person_position.content %}
      <div class="position">{{ fields.field_person_position.content }}</div>
    {% endif %}
    {% if fields.program_type.content %}
      <div class="position">{{ fields.program_type.content }}</div>
    {% endif %}

    {% if fields.field_feature_line.content %}
      <div class="description">{{ fields.field_feature_line.content }}</div>
    {% endif %}
    {% if fields.field_twitter_url.content %}
      <div class="twitter">
        {{ fields.field_twitter_url.content }}
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      </div>
    {% endif %}
  </div>
</div>