
{%
  set classes = [
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--ordered-list-style-lower',
  ]
%}
{%
  set title_classes = [
    'field__label',
    label_display == 'visually_hidden' ? 'visually-hidden',
  ]
%}

{% set italicTitles = ['book', 'edited_book', 'e_book'] %}


<h2{{ title_attributes.addClass(title_classes) }}>{{ label }}</h2>
<ol{{ attributes.addClass(classes) }}>
  {% for item in items %}


	<li><div class="list-item">
		{% set reference_type = item.content['#field_collection_item'].field_publication_type.value %}
  		{% set author = item.content['#field_collection_item'].field_publication_author.value %}
  		{% set secondary_author = item.content['#field_collection_item'].field_publication_author_2.value %}
		{% set year = item.content['#field_collection_item'].field_publication_date.value %}
		{% set title = item.content['#field_collection_item'].field_publication_title.value %}
		{% set secondary_title = item.content['#field_collection_item'].field_publication_title_2.value %}
		{% set location = item.content['#field_collection_item'].field_publication_location.value %}
		{% set publisher = item.content['#field_collection_item'].field_publication_publisher_info.value %}	
		{% set url = item.content['#field_collection_item'].field_publication_url.0.uri %}	
		{% set urlTitle = item.content['#field_collection_item'].field_publication_url.0.title %}	


		{#[{{reference_type }}] #}
		
		{% if author %}
			<span>{{author}}</span>
		{% endif %}

		{% if year %}
			<span>{{year}}</span>
		{% endif %}

		{% if title %}
			{% if reference_type in italicTitles %}
				<span><em>{{ title }}</em></span>
			{% else %}
				<span>"{{title}}"</span>
			{% endif %}
		{% endif %}

		{% if secondary_title %}
			<span><em>{{secondary_title}}</em></span>
		{% endif %}

		{% if secondary_author %}
			<span>{{secondary_author}}</span>
		{% endif %}

		{% if location %}
			<span>{{location}}</span>
		{% endif %}

		{% if publisher %}
			<span>{{publisher}}</span>
		{% endif %}

		{% if url and urlTitle %}
			<span><a href="{{ url }}">{{ urlTitle }}</a></span>
		{% elseif url  %}
			<span><a href="{{ url }}">{{ url }}</a></span>	
		{% endif %}



		

		

	</div></li>
  {% endfor %}
</ol>

