{#
/**
  Event Node Content Type
  Based on node.html.twig
  A custom page template for events.
 */
#}
{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}

{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}

<article{{ attributes.addClass(classes) }}>
 {% if not page %}
    {% if teaser %}
      <div class="datemark">
        <div class="month">{{ event_month }}</div>
        <div class="day">{{ event_day }}</div>
        <div class="year">{{ event_year }}</div>
      </div>
      <div class="teaser-text">
        <h2><a href="{{ url }}" rel="bookmark">{{ label }}</a></h2>
         {% if content.field_event_date %}
          {{ content.field_event_date }}
        {% endif %}
        {% if speakers_string %}
          <div class="speakers">Speakers: {{ speakers_string|raw }}</div>
        {% endif %}
        {% if content.event_series %}
          <div class="event-series">{{ content.event_series }}</div>
        {% endif %}
        {% if content.event_type %}
          <div class="event-type">{{ content.event_type }}</div>
        {% endif %}
        <div class="location">
          {% if teaser_address %}
            {{ teaser_address }}
          {% endif %}
        </div>
        {% if content.field_event_summary|render %}
          <div class="event-recap">
            <a class="apply-now" href="{{ url }}">View Event Recap</a>
          </div>
        {% endif %}
        {{ content.field_short_description }}
      </div>
        
    {% endif %}    
  
  {% else %}
 

    {% include 'themes/custom/bsia/templates/node/_partials/addthis.html.twig' %}

    {% if content.event_series %}
      {{ content.event_series }}
    {% endif %}

    {% if content.field_event_date %}
      {{ content.field_event_date }}
    {% endif %}

    <div class="location">
      {% if content.field_location %}
        {{ content.field_location }}
      {% endif %}
      {% if address %}
        {{ address }}
      {% endif %}
    </div> 

    {% if not past_event %}
    <div class="event-signup-wrapper">
      <div class="event-signup">
        <dl class="event-registration button calendar">
          <dt>Add to Calendar</dt>
            <dd><a href="{{ google_ical }}" target="_blank" class="cal_google">Google</a></dd>
            <dd><a href="/calendar/ical/{{ nid }}">Outlook</a></dd>
            <dd><a href="/calendar/ical/{{ nid }}">iCal</a></dd>
        </dl>
     
        {% if content.field_event_management|render %}
          <div class="event-registration button">
            {% if content.field_email_subject|render %}
              <a href="{{ event_registration_email }}">Register</a>
            {% else %}
              <a href="{{ event_registration_link }}">Register</a>
            {% endif %}
          </div>
        {% endif %}

        {% if invitation_only == 1 %}
          <div class="event-registration ">By Invitation Only</div>
        {% elseif rsvp == 1 %}
            <div class="event-registration ">Registration Required</div>
        {% endif %}
      </div>
    </div> 
  {% endif %}

    {% if speakers_string %}
      <div class="speakers">Speakers: {{ speakers_string|raw }}</div>
    {% endif %}

    {% if content.field_image %}
      {{ content.field_image }}
    {% endif %}
    {% if current_datetime > endstamp and content.field_event_summary|render %}
      {{ content.field_event_summary }}
    {% else %}
      <div class="body">{{ content.body }}</div>
      {% if content.field_website %}
        <div class="field-group">
          {{ content.field_website }}
        </div>
      {% endif %}
    {% endif %}    

     {% if content.field_event_videos %}
      {{ content.field_event_videos }}
    {% endif %}

    {% if content.field_flickr_id %}
      {{ content.field_flickr_id }}
    {% endif %}

    {% if content.event_type %}
      <div class="tags inline-field">{{ content.event_type }}</div>
    {% endif %}
    
    {% if content.upload %}
      <div class="upload inline-field">{{ content.upload }}</div>
    {% endif %}

{% endif %}
</article>
