{#
/**
  News Node Content Type
  Based on node.html.twig
  A custom page template for news items.
 */
#}
{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}

{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}

<article{{ attributes.addClass(classes) }}>

  {% if not page %}
    {% if teaser %}
      <div class="datemark">
        <div class="month">{{ news_date_month }}</div>
        <div class="day">{{ news_date_day }}</div>
        <div class="year">{{ news_date_year }}</div>
      </div>
      <div class="teaser-text">
        <h2><a href="{{ url }}" rel="bookmark">{{ label }}</a></h2>
        <div>{{ content.field_short_description }}</div>
      </div>
        
    {% endif %}    
  
  {% else %}
  
    <div{{ content_attributes }}>
      <div class="date">{{ content.field_news_date }}</div>
      <div class="image">{{ content.field_image }}
        <div class="caption">{{ content.field_caption }}</div>
      </div>
      <div class="body">{{ content.body }}</div>
    </div>
    {{ content.upload }}
  {% endif %}

</article>