{#
/**
  News Node Content Type
  Based on node.html.twig
  A custom page template for news items.
 */
#}
{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}

{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}

<article{{ attributes.addClass(classes) }}>

  {% if not page %}

    {% if view_mode == 'entity' %}

      {% if label %}
        {% if authors_string %}
          {{ authors_string|raw }}
        {% endif %}
        {% if publication_date %}
          ({{ publication_date|date('Y') }}).
        {% endif %}
        <a href="{{ url }}" rel="bookmark">{{ publication_title }}</a>.
        {% if publication_source %}
          {% if publication_source_link %}
            <a href="{{ publication_source_link }}">{{ publication_source }}</a>.
          {% else %}
            {{ publication_source }}.
          {% endif %}
        {% endif %}
      
      {% endif %}

    {% elseif view_mode == 'teaser' %}
      <div class="profile">
        <h2><a href="{{ url }}" rel="bookmark">{{ label }}</a></h2>
        {% if content.field_book_cover|render and publication_type_name == 'Books' %}
          <div class="image">
            {{ content.field_book_cover }}
          </div>
          <div class="text">
        {% else %}
          <div class="text-full">    
        {% endif %}
        
          {% if authors_string %}
            <div class="authors">{{ authors_string|raw }}</div>
          {% endif %}
          <div class="type"><a href="{{ publication_type_uri }}">{{ publication_type_name }}</a></div>
          <div class="date">{{ content.field_published_date }}</div>
          {{ content.field_short_description }}
        
      </div>
    {% endif %}
  {% else %}  
    <div{{ content_attributes }}>
    {% include 'themes/custom/bsia/templates/node/_partials/addthis.html.twig' %}
      <div class="metadata">
        <div class="authors">{{ authors_string|raw }}</div>
    
        {% if content.publication_type %}
          <div class="type">
          <a href="{{ publication_type_uri }}">{{ publication_type_name }}</a>
          {% if content.field_publication_source %}
              / {{ publication_source }}
          {% endif %}
        </div>
        {% else %}
          <div class="type">{{ content.publication_source }}</div>
        {% endif %}

        <div class="date">{{ content.field_published_date }}</div>
      </div>
      
      <div class="body">{{ content.body }}</div>

      {% if content.field_publication_source and content.field_publication_source_link %}
        <div class="apply-now"><a href="{{ publication_source_link }}">{{ link_label }}</a></div>
      {% endif %}

    </div>
    {% if content.upload|render %}
      <hr>
      <div class="publication-download">{{ content.upload }}</div>
    {% endif %}
  {% endif %}

</article>