{#
/**
  Person Node Content Type
  Based on node.html.twig
  A custom page template for students, graduates, faculty and staff support nodes and basic lists of people.
 */
#}

{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}

<article{{ attributes.addClass(classes) }}>
  {% if not page %}

    {% if view_mode == 'teaser' %}
      <div class="profile">
        {% if content.field_photo %}
          <div class="image">{{ content.field_photo }}</div>
        {% endif %}
        <div class="text">
          <h2><a href="{{ url }}" rel="bookmark">{{ label }}</a></h2>
          {% if board_member %}
            {% if content.field_board_position %}
              <div class="position">{{ content.field_board_position }}</div>
            {% endif %}
          {% else %}
            {% if content.field_person_position %}
              <div class="position">{{ content.field_person_position }}</div>
            {% endif %}
          {% endif %}
          {% if staff or board_member %}
              {% if content.field_department %}
                <div>{{ content.field_department }}</div>
              {% endif %}
              {% if content.field_phone %}
                <div>{{ content.field_phone }}</div>
              {% endif %}
              {% if content.field_email %}
                <div>{{ content.field_email }}</div>
              {% endif %}
          {% else %}
              {% if content.field_feature_line %}
                <div>{{ content.field_feature_line }}</div>
              {% elseif content.field_short_bio %}
                <div>{{ content.field_short_bio }}</div>
              {% endif %}  
          {% endif %}
        </div>
      </div>
    {% endif %}
  {% else %}
  
  {% if graduate %}
    <div class="notice-box">To see more graduate profiles <a href="/graduates">click here</a>.</div>
  {% endif %}

  <div class="row">

    <div class="profile">
      {% if content.field_square_image %}
        <div class="image">{{ content.field_square_image }}</div>
      {% endif %}

      <div class="contact">
        {% if student or graduate %}
          <div class="field-group">
            {% if content.program_type|render %}
              {{ content.program_type }}
            {% endif %}
            {% if graduate %}
              {% if content.field_year_graduated %}
                {{ content.field_year_graduated }}
              {% endif %}
            {% endif %}
          </div>
          <div class="field-group">
            {% if content.field_graduate_title %}
              {{ content.field_graduate_title }}
            {% endif %}
          </div>
           
        {% else %}
          <div class="field-group">
            {% if content.field_person_position %}
              {{ content.field_person_position }}
            {% endif %}
            {% if content.field_department %}
              {{ content.field_department }}
            {% endif %}
          </div>
        {% endif %}
        {% if not graduate %}
          <div class="field-group">
            {% if content.field_office_location %}
              {{ content.field_office_location }}
            {% endif %}
            {% if content.field_phone %}
              {{ content.field_phone }}
            {% endif %}
            {% if content.field_email %}
              {{ content.field_email }}
            {% endif %}  
          </div>
        {% endif %}

        <div class="digital-contact field-group">
          {% if website %}
            <div><a href="{{ website }}">Personal website</a> <i class="fa fa-external-link"></i></div>
          {% endif %}
          {% if content.field_twitter_url or content.field_linkedin_url %}
            <div class="social">
              {% if content.field_twitter_url %}
                {{ content.field_twitter_url }}
              {% endif %}
              {% if content.field_linkedin_url %}
                {{ content.field_linkedin_url }}
              {% endif %}
            </div>
          {% endif %}
        </div>

        {% if content.field_languages %}
          {{ content.field_languages }}
        {% endif %}
        
      </div>
    </div>
  </div>

  <div class="row">
    <div class="cols-6">
      <div class="body">
        {{ content.body }}
      </div>

      {% if graduate and content.field_youtube_id %}
        {{ content.field_youtube_id }}

        <iframe class="video-border" width="620" height="348" src="https://www.youtube.com/embed/{{ content.field_youtube_id }}" frameborder="0" allowfullscreen></iframe>

      {% endif %}

      {% if content.field_publications %}
        {{ content.field_publications }}
      {% endif %}

      {% if content.field_testimonial %}
        {{ content.field_testimonial }}
      {% endif %}

      {% if content.field_awards %}
        {{ content.field_awards }}
      {% endif %}

      {% if content.topics %}
        <div class="topics">
          {{ content.topics }}
        </div>
      {% endif %}


    </div>
  </div>
{% endif %}

</article>
