{#
/**
  News Node Content Type
  Based on node.html.twig
  A custom page template for news items.
 */
#}
{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}

{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}

<article{{ attributes.addClass(classes) }}>

  {% if not page %}

    {% if view_mode == 'entity' %}
        <div><a href="{{ url }}" rel="bookmark">{{ label }}</a></div>
        
    {% elseif view_mode == 'teaser' %}      
      <h2><a href="{{ url }}" rel="bookmark">{{ label }}</a></h2>
    {% endif %}
      
  {% else %}
  <div{{ content_attributes }}>
  {% include 'themes/custom/bsia/templates/node/_partials/addthis.html.twig' %}
    
    <div class="authors">{{ speaker_string|raw }}</div>
  
    {% if content.publication_type %}
      <a href="{{ publication_type_uri }}">{{ publication_type_name }}</a>
      {% if content.field_publication_source %}
          / {{ publication_source }}
      {% endif %}
    {% else %}
      {{ content.publication_source }}
    {% endif %}

    {{ content.field_published_date }}
    <div class="body">{{ content.body }}</div>

    {% if content.field_publication_source and content.field_publication_source_link %}
      <div class="apply-now"><a href="{{ publication_source_link }}">Access Website</a></div>
    {% endif %}

  </div>
  {% if content.upload|render %}
    <hr>
    <div class="publication-download">{{ content.upload }}</div>
  {% endif %}

{% endif %}
</article>